# Node modules
node_modules/

# Angular build output
/dist
/out-tsc

# Angular cache
/.angular/cache

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Environment files (optionnel si tu en as plus tard)
src/environments/*.local.ts

# IDE / Editor
.vscode/*
!.vscode/extensions.json
.idea/
*.iml

# OS files
.DS_Store
Thumbs.db

# Tests
/coverage

# Temporary files
*.log
*.tmp
